p{
    text-align: center;
}

legend{
    text-align: left;
    font-weight: bold;
}

label{
    display: block;
}

input{
    border:transparent;
    border-bottom: 0.2em solid black;
}

#idBotonP {
    text-align: right;
}

#division{
    margin:auto;
    width: 20%;
    padding: 10px;
}









