h1{
    text-transform: uppercase;
    border:1px solid;
}
button{
    cursor: pointer;
}

.clase1{
    text-align: center;

}

.clase2{
    display: inline-block;
}

#id1{
    font-size: 20px;
    border-radius: 15px;
    
}

#id2{
    text-shadow: 1px 1px;

}

[id] {
    text-decoration: line-through;
    font-style: oblique;
    
}

[class]{
    border-color: tomato;
}






